@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&family=Raleway:ital,wght@1,700&family=Ysabeau:ital,wght@1,800&family=Zen+Antique+Soft&display=swap');
:root{
  --rf-brand: #fb9a19;
  --rf-brand-rgb: 251, 141, 25;
  --rf-dark: #212237;
  --rf-body: #989898;
  --f-main: "Ralwey", sans-serif;
  --transition: all .6s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px,15px,30px,rgba(0,0,0,0.1);
}
body{
  font-family: var(--f-main);
  color: var(--rf-body);
  line-height: 1.8;
}
h1, .h1 h2, .h2 h3, .h3 h4, .h4
  h5, .h5 h6, .h6 {
  font-weight: 700;
  color: var(--rf-dark);
  font-family: var(--f-main);
}
.text-brand{
  color: black;
}
.fw-bold {
  color: var(--rf-brand);
}
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}
.but {
  background-color: var(--rf-brand);
}
#home { 
  background-image: url(kk.jpg);
  background-position: cover;
  background-size: cover;
}
.mt-5 {
  color: #969696;
}
.btn-brand {
  background-color: var(--rf-brand);
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-tittle {
  max-width: 550px;
  margin: 0 auto 60px auto;
}
.section-tittle .line {
  width: 60px;
  height: 2px;
  background-color: var(--rf-brand);
  display: inline-block;
}




.about-icon {
  width: 30px;
  height: 30px;
  background-color: var(--rf-brand);
  color: white;
  font-size: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bi-brush {
   width: 30px;
  height: 30px;
  background-color: var(--rf-brand);
  color: white;
  font-size: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.project {
  overflow: hidden;
  position: relative;
}

.project .content { 
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--rf-brand);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project img,
.project .content {
  transition: var(--transition);
}
.project:hover .content{
  top: 0;
}

.project:hover img {
  transform: tranlateY(-100%);
}
.btn-brand {
  color: white;
}
.edu  {
  position: relative;
}

.edu::before {
  content: '';
  height: 200px;
  width: 1px;
  background-color: rgba(var(--rf-brand-rgb), 0.4);
  position:absolute;
  left: 0;
  top: 0;
}

.edu::after {
  content: '';
  height: 15px;
  width: 15px;
  background-color: var(--rf-brand);
  position: absolute;
  left: -7px;
  top: 0;
}
.text-brand {
  color: var(--rf-brand);
}

#Contact .form-control{
  border-radius: 2;
}
#Contact .form-control:focus{
  box-shadow: none;
  border-color: var(--rf-brand);
}

#Contact input.form-control{
  height: 40px;
}

footer {
  background-color: var(--rf-dark);
  padding-top: 85px;
}

footer {
  color: white;
}

footer p,
footer li,
footer li a {
  color: rgba(255,255,255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}
.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px rgba(255,255,255,0.2);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}